<template>
  <div class="test">
    <h1>Test</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              v-model="formData.email"
            />
          </div>
          <div class="form-group">
            <label for="pwd">Name:</label>
            <input
              type="text"
              class="form-control"
              id="pwd"
              v-model="formData.name"
            />
          </div>
          <div class="form-group">
            <label for="surname">Surname:</label>
            <input
              type="text"
              class="form-control"
              id="surname"
              v-model="formData.surname"
            />
          </div>
          <button class="btn btn-success" @click="addElem">Submit</button>
        </div>
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Surname</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(data, index) in this.users" v-bind:key="index">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ data.surname }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const fireStoreConfig = {
  apiKey: "AIzaSyDWUvLN9hxAe84KLVe-tG4S6OxOvVXRCWI",
  authDomain: "myfirstfirebaseapp-7235f.firebaseapp.com",
  databaseURL: "https://myfirstfirebaseapp-7235f.firebaseio.com",
  projectId: "myfirstfirebaseapp-7235f",
  storageBucket: "myfirstfirebaseapp-7235f.appspot.com",
  messagingSenderId: "235356222005",
  appId: "1:235356222005:web:ccf4d536d8bacf126f777c",
  measurementId: "G-RH6SJ7H1SE"
};

import firebase from "firebase";
firebase.initializeApp(fireStoreConfig);

const db = firebase.firestore();
export default {
  name: "Test",
  data() {
    return {
      formData: {
        email: "",
        name: "",
        surname: ""
      },
      users: []
    };
  },
  firestore: {
    users: db.collection("users")
  },
  methods: {
    addElem() {
      db.collection("users")
        .doc()
        .set(this.formData);
    },

    created() {
      this.$bind("users", db.collection("users")).then(users => {
        this.users = users;

        this.$unbind("users");
      });
    }
  }
};
</script>

<style scoped></style>
