<template>
  <div class="login">
    <h3>Please login with to continue</h3>
    <button @click="login" class="btn btn-info">Login with Google</button>
  </div>
</template>

<script>
import firebase from "firebase";
import store from "../store";

export default {
  name: "Login",
  data() {
    return {};
  },
  methods: {
    login() {
      const provider = new firebase.auth.GoogleAuthProvider();
      const vm = this;

      firebase
        .auth()
        .signInWithPopup(provider)
        .then(function(result) {
          const user = result.user;
          store.dispatch("fetchUser", user);
          vm.$router.replace({ name: "home" });
        })
        .catch(function(error) {
          // Handle Errors here.
          const errorCode = error.code;
          const errorMessage = error.message;
        });
    }
  }
};
</script>

<style scoped></style>
