<template>
  <div id="app">
    <div id="nav">
      <router-link v-if="!user.loggedIn" to="/login">Login </router-link>

      <router-link v-if="user.loggedIn" to="#"
        >{{ user.data.displayName }}
      </router-link>

      <a href="" v-if="user.loggedIn" @click.prevent="logout">Logout </a>

      <router-link to="/">Home </router-link>

      <router-link to="/about">About </router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import firebase from "firebase";
export default {
  name: "App",
  computed: {
    ...mapGetters({
      user: "user"
    })
  },
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("/login");
        })
        .catch(e => {
          alert(e.message);
        });
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
